include COPYING
include *.rst
include blanco.py
include blanco/config
include blanco/locale/blanco.pot
include blanco/locale/*/LC_MESSAGES/*.mo
include blanco/locale/*/LC_MESSAGES/*.po
include doc/conf.py
include doc/wordlist.txt
include extra/_blanco
include extra/doap.rdf
include extra/docrunner.py
include extra/requirements*.txt
include nose2.cfg

include tests/*.py
include tests/data/blanco.conf
include tests/data/sent_gmail.msmtp
include tests/data/sent.maildir/cur/.keep/NOTE
include tests/data/sent.maildir/tmp/.keep
include tests/data/sent.mbox
include tests/data/sent.mh/.mh_sequences
include tests/data/sent.msmtp

recursive-include doc *.rst
recursive-include doc/.static *.png

recursive-include tests/data/sent.maildir/new *.kate
recursive-include tests/data/sent.mh [0-9]*
