include *.rst
include doc/conf.py
include doc/.static/luke.png
include doc/.templates/layout.html
include blanco.py

include tests/blanco.conf
include tests/*.py
include tests/sent_gmail.msmtp
include tests/sent.maildir/cur/.keep
include tests/sent.maildir/tmp/.keep
include tests/sent.mbox
include tests/sent.mh/.mh_sequences
include tests/sent.msmtp

recursive-include doc *.rst

recursive-include tests/sent.maildir/new *.kate
recursive-include tests/sent.mh [0-9]*
